/** CSS STYLE **/
:root {
  --blue: #2C71B1;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}

h1, h2 {
  color: var(--blue);
}

img {
  max-width: 100%;
  height: auto;
}

p {
  padding: 5px;
}

a {
  display: block;
  text-align: right;
  margin-right: 22px;
}

form {
  margin: 20px;
  padding: 20px;
  background: #B6C9D7;
  border-radius: 7px;
}

fieldset {
  border: none;
  border-bottom: 1px solid #94A9BD;
  padding: 0 0 40px;
  margin: 20px 0;
  width: 100%;
}

.conteiner {  
  width: 100%;
  margin: 0 auto;
  max-width: 1280px;
}

.logo {
  font-size: 25px;
}

.flex-sp-b {
  display: flex;
  justify-content: space-between;
  align-items: center;  
}

.flex-sp-a {
  display: flex;
  justify-content: space-around;
}

.i-size {
  width: 50px;
  height: 50px;
}

.f-weight {
  font-weight: normal;
  text-align: center;
  margin: 30px
}

.flex-column